In [4]:
import pandas as pd
import numpy as np

def sep():
    print("-" * 50)

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

exam_data_pd = pd.DataFrame(exam_data, index=labels)

print(exam_data_pd.head(3))
sep()

exam_data_pd = exam_data_pd.dropna()
print(exam_data_pd)
sep()

name_score = exam_data_pd[['name', 'score']]
print(name_score)
sep()

new = {'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}
new = pd.DataFrame(new, index=['k'])
exam_data_pd = pd.concat([exam_data_pd, new])
print(exam_data_pd)
sep()

del exam_data_pd['attempts']
print(exam_data_pd)
sep()

def result(score):
    if score > 10:
        return 1
    else:
        return 0

exam_data_pd['Success'] = exam_data_pd['score'].apply(result)
print(exam_data_pd)
sep()

exam_data_pd.to_csv('my_data.csv')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
--------------------------------------------------
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
--------------------------------------------------
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0
--------------------------------------------------
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
--------------------------------------------------
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
--------------------------------------------------
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1
--------------------------------------------------